### Q_1. Pandas version

In [1]:
import pandas as pd
import numpy as np

# Q1 Pandas version answer

print(f"Pandas version is: {pd.__version__}")

Pandas version is: 2.3.1

In [2]:
data=pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [3]:
data.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

### Q_2 Records count

In [5]:
# Q_2 Answer is 9704
data.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

### Q_3 Fuel types

In [6]:
# Q_3 Answer is 2 
data['fuel_type'].nunique()

2

### Q_4 Missing values

In [7]:
# Q_4 Answer is 4
data.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

### Q_5 Max fuel efficiency

In [8]:
# Q_5 Answer is 23.759123

data.groupby('origin').fuel_efficiency_mpg.max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

### Q_6 Median value of horsepower

In [9]:
# Q_6_1 Answer is 149
median_horsepower=data["horsepower"].median()
print(f"1.median of horsepower is: {median_horsepower} ")
# Q_6_2 Answer
mode_horsepower=data["horsepower"].mode()
print(f"2.mode of horsepower is: {mode_horsepower.iloc[0]} ")

# Q_6_3 Answer
data['horsepower']=data['horsepower'].fillna(mode_horsepower.iloc[0])

# Q_6_4 Answer is 152 (yes, it increased)
new_median_horsepower=data['horsepower'].median()
print(f"4.median of horsepower is: {new_median_horsepower} ")

1.median of horsepower is: 149.0
2.mode of horsepower is: 152.0
4.median of horsepower is: 152.0

### Q_7 Sum of weights

In [10]:
#Q_7_1 Answer
asian_car=data[data['origin']=="Asia"]

#Q_7_2 Answer
two_columns_only= asian_car[['vehicle_weight','model_year']]

#Q_7_3 and Q_7_4
X=two_columns_only.head(7).to_numpy()

#Q_7_5 Answer
XTX=X.T.dot(X)

#Q_7_6
XTX_inv= np.linalg.inv(XTX)

#Q_7_7
y=np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

#Q_7_8
w= XTX_inv @ X.T @ y

#Q_7_9
sum_w = w.sum()
print(f"Sum of weights: {sum_w}")

Sum of weights: 0.5187709081074016